In [125]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [127]:
veri = pd.read_csv("Advertising.csv")
veriDf = pd.DataFrame(veri)
veriDf = veriDf.iloc[:,1:len(veriDf)]
veriDf.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [129]:
y = veriDf[["sales"]]
X = veriDf[["TV"]]

In [131]:
from sklearn.linear_model import LinearRegression

In [133]:
reg = LinearRegression()
model = reg.fit(X,y)

In [135]:
tahminDizisi = model.predict(X)[0:10]
tahminDf = pd.DataFrame(tahminDizisi,columns=["Tahmin"])

In [139]:
birlesikDf = pd.concat([X,y],axis=1)
tahminler = pd.concat([birlesikDf[0:10],tahminDf[0:10]],axis=1)
tahminler

      TV  sales     Tahmin
0  230.1   22.1  17.970775
1   44.5   10.4   9.147974
2   17.2    9.3   7.850224
3  151.5   18.5  14.234395
4  180.8   12.9  15.627218
5    8.7    7.2   7.446162
6   57.5   11.8   9.765950
7  120.2   13.2  12.746498
8    8.6    4.8   7.441409
9  199.8   10.6  16.530414

In [145]:
tahminler["hata"] = tahminler["sales"] - tahminler["Tahmin"]

In [147]:
tahminler

      TV  sales     Tahmin      hata
0  230.1   22.1  17.970775  4.129225
1   44.5   10.4   9.147974  1.252026
2   17.2    9.3   7.850224  1.449776
3  151.5   18.5  14.234395  4.265605
4  180.8   12.9  15.627218 -2.727218
5    8.7    7.2   7.446162 -0.246162
6   57.5   11.8   9.765950  2.034050
7  120.2   13.2  12.746498  0.453502
8    8.6    4.8   7.441409 -2.641409
9  199.8   10.6  16.530414 -5.930414

In [153]:
tahminler["hata kareler"] = tahminler["hata"]**2
np.mean(tahminler["hata kareler"])

9.290350329638104